@media (min-width: 325px) and (max-width:768px) {
    .carousel-control-prev {
        display: flex;
        justify-content: end !important;
        margin-top: 6350px;
        margin-left: 8px !important;
    }

    .carousel-control-next {
        display: flex;
        justify-content: center !important;
        margin-top: 6350px;
    }
}

@media (max-width:768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
        background-color: #000;
    }
     header {
        display: none !important;
     }

     .header-container {
        display: none !important;
     }
    .container#cop {
        margin-top: 0px;
        margin-left: -5px;
        width: 150px;
    }

    header.header-container .nav-menu {
        display: none !important;
    }

    i.menu-mobile {
        display: flex !important;
        justify-content: end;
        width: 100% !important;
        margin-top: -15px;
    }

    .menu-nav-active {
        overflow-y: hidden !important;
    }

    section#inicio {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    section#inicio h2 {
        margin-top: 60px;
        width: 235px;
        font-size: 2rem;
        margin-left: 0;
        text-align: center;
    }

    section#inicio span#subtitle {
        width: 235px;
        font-size: 1rem;
        margin-left: 0;
        text-align: center;
    }

    section#inicio div#arraste a {
        display: flex;
        justify-content: end;
        align-items: center;
        width: 100%;
        margin-top: 295px;
        margin-right: 0px;
        font-size: 12px;
        z-index: 10;

    }

    #flecha {
        margin-top: 300px;
    }

    #imgEuuBox {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 300px;
        margin-left: 0;
        margin-top: -50px;
    }

    #imgEuu {
        width: 300px !important;
        height: 380px;
        margin-left: 0;
        margin-top: 0;
    }

    #main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 285px;
    }

    #sobre {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 0;
    }

    h2.pt-3 {
        margin-top: 40px;
    }

    #frase {
        margin-top: 20px;
    }

    #sobre2 {
        width: 100%;
    }

    #boxEu2 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    img#eu2 {
        height: 350px;
        margin-top: 10px;
        margin-left: 50px;
    }

    .list-group {
        width: 260px;
    }

    #dev {
        margin-top: 50px;
    }

    #text1 {
        margin-top: 30px;
    }

    .col-md-6 {
        width: 100%;
        margin-top: 30px;

    }

    #col1 {
        margin-top: 20px;
    }

    .section-bg#habilidades {
        width: 100%;
        margin-left: 0;
    }

    #progre {
        width: 100%;
        margin-left: 0;
    }

    .progress {
        width: auto;
    }

    section#curriculo {
        width: 100%;
        margin-left: 0;
    }

    h2.pt-3 {
        text-align: center;

    }

    #cv-col {
        width: auto;
    }

    .cv-title {
        margin-bottom: 80px;
    }

    #portfolio {
        width: 100%;
        height: 100%;
        margin-left: 0;
    }

    .card {
        height: 400px;
    }

    .card-img-top {
        height: 150px;
    }

    .carousel-control-prev {
        display: flex;
        justify-content: end;
        margin-top: 6350px;
        padding-right: 2px;
    }

    .carousel-control-next {
        display: flex;
        justify-content: end;
        margin-top: 6350px;
    }

    #contato {
        width: 100%;
        margin-left: 0;
        margin-top: 50px;
    }

    h2#contact {
        margin-top: -20px;
        margin-bottom: 20px;
        margin-left: 0;
    }

    #location {
        width: 100%;
        margin-left: 0;
    }

    .endereco {
        margin-left: 10px;
    }

    .email {
        margin-left: 10px;

    }

    .phone {
        margin-left: 10px;

    }

    iframe.w-100 {
        margin-left: 0;
        width: 100% !important;
    }

    #forms {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 420px !important;
        margin-left: 0;
        margin-top: -20px;
    }

    .form-label {
        margin-left: 0;
    }

    .form-control {
        width: auto;
        margin-left: 0;
    }

    #form-box {
        width: auto;
        margin-top: -20px;
    }

    textarea#mensagem {
        width: 100%;
        height: 130px;
    }

    #btn-enviar {
        margin-top: -10px;
    }

    [data-anime="left"] {
        transform: translate3d(0, 100%, 0);
    }


}