<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/mobile.css">
    <link rel="icon" type="image/jpge" href="../static/img/WhatsApp Image 2022-05-23 at 07.34.16.jpeg">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <title>Adriano Portfólio</title>
</head>

<body>
    <i class="bi bi-list menu-mobile"></i>

    <aside id="header">
        <section class="profile">
            <img src="../static/img/img-eu.jpeg" alt="Foto do Adriano">
            <h1>Adriano Souza</h1>
            <div class="social-links mt-4 text-center">
                <a target="_blank" href="https://www.linkedin.com/in/adriano-rodrigues-de-souza-1ba443231">
                    <i class="bi bi-linkedin"></i>
                </a>
                <a target="_blank" href="https://github.com/AdrianoJH">
                    <i class="bi bi-github"></i>
                </a>
                <a target="_blank" href="https://www.instagram.com/adriano.lique/">
                    <i class="bi bi-instagram"></i>
                </a>

            </div>
        </section>

        <nav id="navbar" class="nav-menu">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#inicio"><i class="bi bi-house"></i> Início</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#sobre"><i class="bi bi-file-earmark-person"></i> Sobre</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#habilidades"><i class="bi bi-list-check"></i> Habilidades</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#curriculo"><i class="bi bi-file-earmark"></i> Currículo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio"><i class="bi bi-collection"></i> Portfólio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contato"><i class="bi bi-envelope"></i> Contato</a>
                </li>
            </ul>

            <div class="container" id="cop">
                <div class="text-center">
                    &copy;Copyright <strong>Adriano</strong>
                </div>
            </div>

        </nav>
    </aside>

    <main id="main">

        <section id="inicio" class="row m-0 p-0">
            <div class="col-md-5 d-flex justify-content-center align-items-center flex-column">
                <h2 >Adriano Souza</h2>
                <span id="subtitle">Mobile and Web Developer</span>
               
            </div>
            <div class="col-md-7 d-flex justify-content-end align-items-end align-items-end">
                <div id="arraste" class="d-flex align-items-center">
                    <i class="bi bi-arrow-down text-white pe-2 fs-2" aria-hidden="true" id="flecha"></i>
                    <a href="#sobre">Arraste para mais</a>
                </div>
            </div>
            <div class="col-md-4" id="imgEuu">
                <img src="../static/img/Eu.jpeg" alt=" code"  />
            </div>
        </section>

        <section class="container mt-5" id="sobre">
            <div class="row w-100">
                <div class="col-md-12" data-anime="down">
                    <h2 class="pt-3">Sobre</h2>
                    <p id="frase">Eu acredito que nunca é tarde para recomeçar; Depois de 11 anos atuando como marmorista tive a oportunidade de ingressar no curso de graduação em Análise e desenvolvimento de Sistemas, me apaixonei pela area, isso mudou a minha vida, fez com que eu saísse da comodidade buscasse algo a mais para minha vida profissional e consequentemente pessoal tambem.
                        Com a determinação de engressar nessa área, entrei em curso profissionalizante de Formação de Desenvolvedor, aprendendo várias linguagens e tecnologias, descobri minha vocação e foquei no desenvolvimento web e Mobile.
                        Amo o que faço, e cada vez mais estou buscando me desenvolver me aperfeiçoar, sempre me dedicando e  buscando me transformar em um profissional cada vez mais qualificado.
                    </p>

                </div>

                <div class="row mt-4">
                    <div class="col-md-4">
                        <img class="img-fluid shadow" src="../static/img/img-eu2.jpeg"
                            alt="Foto do Adriano" id="eu2" data-anime="left">
                    </div>
                    <div class="col-md-8"  data-anime="right">
                        <h3 id="dev">Desenvolvedor</h3>
                        <p id="text1">Atualmente estou no inicio de carreira, estudo e desenvolvo projetos Web e mobile, trabalho principalmente com JavasScript no front-end e back-end Node.JS, e no Mobile Dart e JavaScript, utilizando os frameworks React.JS, React Native, Flutter e Express.</p>

                        <div class="row mt-3 mb-3">
                            <div class="col-md-6" id="col1">
                                <ul class="list-group list-group-flush fs-5" id="list">
                                    <li class="list-group-item">Niver: <span class="fw-lighter">20 de Agosto de
                                            1992</span></li>
                                    <li class="list-group-item">Idade: <span class="fw-lighter">30 anos</span></li>
                                    <li class="list-group-item">Cidade: <span class="fw-lighter">Colombo</span></li>
                                    <li class="list-group-item">Estado: <span class="fw-lighter">Paraná</span></li>
                                </ul>
                            </div>
                            <div class="col-md-6">
                                <ul class="list-group list-group-flush fs-5">
                                    <li class="list-group-item">Hobby: <span class="fw-lighter">Futebol</span></li>
                                    <li class="list-group-item">Site: <a href="#"
                                            target="_blank"
                                            class="fw-lighter text-decoration-none link-dark">...</a></li>
                                    <li class="list-group-item">Trabalho: <a href="#"
                                            target="_blank" class="fw-lighter text-decoration-none link-dark">Disponível.</a>
                                    </li>
                                    <li class="list-group-item">Experiência: <span class="fw-lighter">1 ano</span></li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>



        </section>

        <section class="mt-5 section-bg" id="habilidades">
            <div class="container pb-5">
                <h2 class="pt-5">Habilidades</h2>
                <p>DevStars Tech -Formação de Desenvolvedor (Back End, Front End, WebDev)
                    Informática (Word, Excel, PowerPoint, Internet)
                    Cebrac- (Mecânica Básica Industrial, Ajustagem, C.N.C, Usinagem).</p>
                <div class="row" id="progre">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">HTML</p>
                        <div class="progress">
                            <div class="progress-bar w-75" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">CSS</p>
                        <div class="progress">
                            <div class="progress-bar w-75" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">JavaScript</p>
                        <div class="progress">
                            <div class="progress-bar w-75" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Python</p>
                        <div class="progress">
                            <div class="progress-bar w-50" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Wordpress</p>
                        <div class="progress">
                            <div class="progress-bar w-75" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Dart</p>
                        <div class="progress">
                            <div class="progress-bar w-50" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Flask</p>
                        <div class="progress">
                            <div class="progress-bar w-50" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">React Native</p>
                        <div class="progress">
                            <div class="progress-bar w-75" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Dart</p>
                        <div class="progress">
                            <div class="progress-bar w-50" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">React.JS</p>
                        <div class="progress">
                            <div class="progress-bar w-75" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">MySQL</p>
                        <div class="progress">
                            <div class="progress-bar w-50" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">bootstrap</p>
                        <div class="progress">
                            <div class="progress-bar w-75" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>


                    </div>

                </div>

                <hr class="w-50 me-auto ms-auto">

                <div class="row" id="progre">
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Comprometimento</p>
                        <div class="progress">
                            <div class="progress-bar w-100" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Disciplina</p>
                        <div class="progress">
                            <div class="progress-bar w-100" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Aprendizado</p>
                        <div class="progress">
                            <div class="progress-bar w-100" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Trabalho em equipe</p>
                        <div class="progress">
                            <div class="progress-bar w-100" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>


                    </div>
                    <div class="col-md-6">
                        <p class="mt-3 mb-0">Empatia</p>
                        <div class="progress">
                            <div class="progress-bar w-100" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Comunicação</p>
                        <div class="progress">
                            <div class="progress-bar w-100" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Orientação a detalhes</p>
                        <div class="progress">
                            <div class="progress-bar w-100" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                        <p class="mt-3 mb-0">Proatividade</p>
                        <div class="progress">
                            <div class="progress-bar w-100" data-anime="left" role="progressbar"
                                aria-label="Basic example" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>

                    </div>

                </div>

            </div>

        </section>

        <section class="mt-5 cv" id="curriculo">

            <div class="container pb-5">
                <h2 class="pt-3 pb-4"> Currículo</h2>

                <div class="row">
                    <div class="col-md-6" id="cv-col">
                        <h3 class="cv-title">Educação</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Formação de Desenvolvedor</h4>
                            <h5>2022 - 2023</h5>
                            <p><em>DevStars tech</em></p>
                            <p> Curso com 1500 horas, com formação em Back-End, Front-End, Desenvolvimento Web, Mobile,
                                Inteligência Artificial, Banco de dados, Soft Skills.</p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Análise e Desenvolvimento de Sistemas</h4>
                            <h5>2021 - 2024</h5>
                            <p><em>IFPR- Instituto Federal Do Paraná</em></p>
                            <p>Técnologo</p>

                        </div>
                    </div>

                    <div class="col-md-6" id="cv-col">
                        <h3 class="cv-title">Profissional</h3>
                        <div class="cv-item" data-anime="up">
                            <h4>Marmorista</h4>
                            <h5>2011 - 2022</h5>
                            <p><em>MTF- Mármores e Granitos</em></p>
                            <p>Cortes, acabamentos, polimentos e montagem e instalação de peças em mármores e granitos.
                            </p>
                        </div>
                        <div class="cv-item" data-anime="up">
                            <h4>Auxiliar de serviços gerais</h4>
                            <h5>2009 - 2010</h5>
                            <p><em>Phedra Serviços de Limpeza LTDA</em></p>
                            <p>Manutenção de Cabine de Pintura</p>
                        </div>

                    </div>

                </div>

            </div>

        </section>

        <section class="mt-5 section-bg" id="portfolio">

            <div class="container pb-5 pt-5" data-anime="left" >
                <h2 class="pb-4">Portfólio</h2>

                <div id="carouselPortfolio" class="carousel carousel-dark slide" data-bs-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/logo-cosecurity.png" class="card-img-top" alt="camera-registration">
                                        <div class="card-body">
                                            <h5 class="card-title">Camera Registration</h5>
                                            <p class="card-text">Projeto Front-End e Back-End, visando utilizar o LocalStorage, consumo de Api, criação de Api, feito
                                                com JavaScript, Vue.JS, Python com Flask, Banco de dados Postgres, Tailwind css, e Docker </p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://camera-registration.netlify.app/" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/quiz.jpeg" class="card-img-top" alt="quiz">
                                        <div class="card-body">
                                            <h5 class="card-title">DevQuiz</h5>
                                            <p class="card-text">Projeto Front-End criado com ReactJS, de um quiz com
                                                questões de multipla escolha sobre Front-End.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://dev-quiz-drab.vercel.app/" target="_blank"
                                                    class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card">
                                        <img src="../static/img/Nurses.jpeg" class="card-img-top" alt="NursesApp">
                                        <div class="card-body">
                                            <h5 class="card-title">NursesApp</h5>
                                            <p class="card-text">Projeto Mobile feito com React Native, de um app para
                                                encontrar profissionais de enfermagem.</p>
                                            <div class="d-flex justify-content-center">
                                                <a href="https://github.com/AdrianoJH/Nurse-s-Help.git" target="_blank" class="btn btn-outline-primary"><i
                                                        class="bi bi-link-45deg"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item " data-bs-interval="2000">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="col">
                                <div class="card">
                                    <img src="../static/img/clima.jpg" class="card-img-top" alt="Clima">
                                    <div class="card-body">
                                        <h5 class="card-title">Clima</h5>
                                        <p class="card-text">Projeto Front-End visando consumir a API de clima
                                            OpenWheather feito com JavaScript, HTML e CSS. </p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://clima-delta.vercel.app/" target="_blank" class="btn btn-outline-primary"><i
                                                    class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="../static/img/bitcoin-g490d823b4_1920.jpg" class="card-img-top" alt="otica">
                                    <div class="card-body">
                                        <h5 class="card-title">Criptomoedas</h5>
                                        <p class="card-text">Projeto Mobile feito em Dart/Flutter para realizar consultas e compras, consumindo a API da coinbase .</p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://github.com/AdrianoJH/Otica" target="_blank"
                                                class="btn btn-outline-primary"><i class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card">
                                    <img src="../static/img/chat.jpg" class="card-img-top" alt="Cherry">
                                    <div class="card-body">
                                        <h5 class="card-title">Chat</h5>
                                        <p class="card-text">Projeto de chat web feito em React.js, utilizando o firebase como back end e para autenticação.  </p>
                                        <div class="d-flex justify-content-center">
                                            <a href="https://chat-ckjvl102w-adrianojh.vercel.app/" target="_blank" class="btn btn-outline-primary"><i
                                                    class="bi bi-link-45deg"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#carouselPortfolio"
                data-bs-slide="prev">
                <span class="material-symbols-outlined">arrow_back_ios</span>
               
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselPortfolio"
                data-bs-slide="next">
                <span class="material-symbols-outlined">arrow_forward_ios</span>
            </button>
    

        </section>

        <section class="pt-5 pb-5 " id="contato">

            <div class="container mb-5">
                <h2 class="pt-3 pb-3" id="contact">Contato</h2>

                <div class="row">

                    <div class="col-md-5">
                        <div class="card pb-4 shadow border-0"  id="location" data-anime="up">
                            <div class="endereco">
                               <h5><i class="bi bi-geo-alt" id="loc"></i> Localiação:</h5>
                               <p>Colombo, PR</p>
                            </div>
                            <div class="email">
                                <h5><i class="bi bi-envelope"></i> Email</h5>
                                <p>adrianorsouza.h6@gmail.com</p>
                            </div>
                            <div class="phone">
                                <a href="https://wa.me/5541999607549" target="_blank" style="text-decoration: none;"><h5 class="whats"><i class="bi bi-whatsapp"></i> WhatsApp</h5></a>
                            </div>
                        </div>


                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3606.0895401989233!2d-49.221105285337366!3d-25.334776235341906!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94dce7ea09444f6b%3A0x61af806b4b9ebfe!2sR.%20Romano%20Mocelin%20-%20Ro%C3%A7a%20Grande%2C%20Colombo%20-%20PR%2C%2083402-440!5e0!3m2!1spt-BR!2sbr!4v1667830904088!5m2!1spt-BR!2sbr" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
                            width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                            referrerpolicy="no-referrer-when-downgrade" class="w-100"></iframe>
                    </div>
                    <div class="col-md-7 mt-5 mt-md-0">
                        <div class="card p-5 h-100 shadow border-0" id="forms" data-anime="left">

                            <form class="row g-3" id="forms" action="/send" method="POST">
                                <div class="col-md-6" id="forms1">
                                    <label for="nome" class="form-label">Nome:</label>
                                    <input type="text" class="form-control" id="nome" name="nome"
                                        placeholder="Digite seu nome" required>
                                </div>
                                <div class="col-md-6" id="forms1">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        placeholder="Digite seu email" required>
                                </div>

                                <div class="col-12">
                                    <label for="mensagem" class="form-label" id="mensagem">Mensagem:</label>
                                    <textarea type="text" class="form-control" id="mensagem" name="mensagem" rows="10"
                                        placeholder="Digite sua mensagem" required></textarea>
                                </div>
                                <div class="col-12 d-flex justify-content-center mt-4">
                                    <button id="btn-enviar" type="submit" class="btn btn-primary">Enviar
                                        mensagem</button>
                                    <button id="btn-enviar-loader" class="btn btn-primary" type="button" disabled>
                                        <span class="spinner-border spinner-border-sm" role="status"
                                            aria-hidden="true"></span>
                                        Enviando...
                                </div>
                                </button>
                            </form>

                        </div>

                    </div>
                </div>
            </div>

        </section>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div id="alert" class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill"></i>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

    </main>
    

    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>

</html>